--extra-index-url https://download.pytorch.org/whl/cu124
numpy
torch==2.6.0+cu124
torchvision
torchaudio
shap
plotly 
dash 
dash_bootstrap_components
pandas 
matplotlib
scipy
seaborn
scikit-learn
GEOparse
statsmodels
screeninfo
dash-shap-components
dash-cytoscape
ninja
jupyterlab
networkx
kaleido
pytorch-lightning
triton