--extra-index-url https://download.pytorch.org/whl/cu121
numpy==1.23.5
torch==2.4.0+cu121
torchvision
torchaudio 
shap
plotly 
dash 
dash_bootstrap_components
pandas 
matplotlib
scipy
seaborn
scikit-learn
GEOparse
statsmodels
screeninfo
dash-shap-components
dash-cytoscape
ninja