--extra-index-url https://data.pyg.org/whl/torch-2.4.0+cpu.html
numpy==1.23.5
torch==2.4.0
torchvision
torchaudio
shap
plotly 
dash 
dash_bootstrap_components
pandas 
matplotlib
scipy
seaborn
scikit-learn
GEOparse
statsmodels
screeninfo
dash-shap-components
dash-cytoscape
ninja